includes:
  - ./vendor/gabrielelana/precious/rules.neon

parameters:
  level: 7
  excludes_analyse:
    - ./vendor/
    - ./test/
  ignoreErrors:
    - '#^Call to an undefined method Eris.*#'
    - '#^Function Eris\\Generator.*#'
